.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  align-content: center;
}

.card {
  border: 1px solid black;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  padding: 27px;
  margin: 10px;
}
img {
  object-fit: center;
  height: 70px;
}
.card:hover {
  margin-top: 1px;
  cursor: pointer;
}
.access {
  height: 1px;
}
